.navCol {
	background-color: #003333;
}

.navbar-custom {
	background-color: #6C7C15;
}

.bg-custom {
	background-color: #86468B;
}

.navCol2 {
	background-color: #3F64C3;
}

.btn-custom{
	background-color: #86468B;
}

.btn-warning{
	background-color: maroon;
}